{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Phish-mail Detection</title>
    <link rel="stylesheet" href="{% static 'style/success.css' %}" />
  </head>

  <body>
    <header>
      <nav>
        <a href="#">Home</a>
        <a href="#">How it works</a>
        <a href="#">Stories</a>
        <a href="#">Features</a>
        <a href="#">Pricing</a>
        <a href="#">Contact</a>
        <button class="nav-button">Request Demo</button>
      </nav>
    </header>

    <aside>
      <button class="button">
        <a href="{% url 'upload_email' %}">Back</a>
      </button>
      <div class="main">
        <div class="body">
          <h1><span>Email Subject : </span>{{ subject }}</h1>
          <p><span>Email Body : </span>{{ body }}</p>

          <!-- <h2>Links:</h2>
                <ul>
                    {% for link in links %}
                    <li><a href="{{ link }}">{{ link }}</a></li>
                    {% endfor %}
                </ul> -->
        </div>
        <div class="details">
          <span class="percentage">{{ maliciousness_percentage }}%</span>
          <span class="malicious">{{ msg }}</span>

          <h3>Model Predictions:</h3>
          <ul>
            {% for model_name, prediction in result %}
            <li>
              <strong>{{ model_name }}:</strong> {% if prediction == 1 %} Safe
              {% else %} Not Safe {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </aside>

    <main>
      <div class="main-1">
        <h1>URL : {{ links }}</h1>
        <div class="main-child">
          <div class="grid-container">
            <span><span class="numbers">49</span><br />Requests</span>
            <span><span class="numbers">4</span><br />Domains</span>
            <span><span class="numbers">2</span><br />Countries</span>
            <span><span class="numbers">1kB</span><br />Size</span>
            <span><span class="numbers">100%</span><br />HTTPS</span>
            <span><span class="numbers">3</span><br />Subdomains</span>
            <span><span class="numbers">5290 days</span><br />Domain Age</span>
            <span><span class="numbers">0</span><br />Cookies</span>
            <span><span class="numbers">0%</span><br />IPv6</span>
            <span><span class="numbers">3</span><br />IPs</span>
            <span><span class="numbers">YES</span><br />DNS Records</span>
            <span><span class="numbers">172 kB</span><br />Transfer</span>
          </div>
          <div class="details-2">
            <span class="percentage">75%</span>
            <span class="malicious">malicious</span>
          </div>
          <div class="screenshot">screenshot</div>
        </div>
      </div>

      <div class="main-2">
        <form id="feedback-form" method="POST">
          {% csrf_token %}
          <h1>Report</h1>
          <div class="input">
            <input
              class="email"
              id="email"
              name="email"
              placeholder="enter email"
              type="text"
            />
            <input
              class="proof"
              id="proof"
              name="proof"
              placeholder="Tell us in detail or proof why we are wrong"
              type="text"
            />
          </div>
          <button class="button" type="submit">Submit</button>
        </form>
        {% if message %}
        <div id="form-message">{{ message }}</div>
        {% endif %}
      </div>

      <div class="main-3">
        <h1>Verdict</h1>
        <h2 class="result">Unsafe</h2>
        <div class="info">
          <div>Email was found <span>75%</span> malicious</div>
          <div>Urls were <span>45%</span> malicious overall</div>
          <div>Attachments don't contain anything malicious</div>
          <div>Overall, <span>adviced not to interact</span></div>
        </div>
      </div>
    </main>
    <script src="{% static 'js/scripts.js' %}"></script>
  </body>
</html>
